<div class='panel '>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-1'>Filter:</div>
            <div class='col-md-2'>
                <input type='text' class=""
                    [(ngModel)]='listFilter'/>
            </div>
        </div>
        

        <div class='has-error'> </div>

        <div class='table-responsive'>
            <table class='table table-inverse' *ngIf='movies && movies.length'>
                <thead>
                    <tr>
                        <th> </th>
                        <th><span (click)='temp="movieTitle"; asc==true ? asc=false: asc= true'>Title</span></th>
                        <th><span (click)='temp="price"; asc==true ? asc=false: asc= true'>Price</span></th>
                        <th><span (click)='temp="starRating"; asc==true ? asc=false: asc= true'>5 Star Rating</span></th>
                    </tr>
                </thead>
                <tbody data-link="row" class="rowlink">
                    <tr *ngFor="let movie of movies | movieFilter:listFilter | available | sortBy:temp:asc" [routerLink]="['/movie', movie.movieId]">
                        <td>
                            <img [src]='movie.imageUrl'
                                [style.width.px]='imageWidth'>
                        </td>
                        <td ><a [routerLink]="['/movie', movie.movieId]">
                                {{ movie.movieTitle }}
                            </a>
                        </td>
                        <td>{{ movie.price | currency:'PLN' }}</td>
                        <td>
                            <rating [rating]='movie.starRating'></rating>
                        </td>
                        <td>
                            <a href="#" (click)='movie.available=false' class="btn btn-default"><span class="glyphicon glyphicon-film"></span> rent</a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
