
<form #movieAddForm="ngForm"> 
        <div class="form-group">
          <label for="movieTitle">Movie genre</label>
          <input required [(ngModel)]="movie.movieTitle" #movieTitle="ngModel" class="form-control" name="movieTitle" id="movieTitle" type="text">
          <div [hidden]="movieTitle.valid || movieTitle.pristine" class="alert alert-danger"> Movie Title is required</div>
        </div> 
        <div class="form-group">
            <label for="description">Description</label>
            <input [(ngModel)]="movie.description" name="description" class="form-control" id="description" type="text">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input name="price" id="price" [(ngModel)]="movie.price" pattern="^\d{1,8}(?:\.\d{1,2})?$" class="form-control" type="text" required>
        </div>
        <div class="form-group">
            <label for="imgUrl">Img Url</label>
            <input name="imgUrl" id="imgUrl" [(ngModel)]="movie.imgUrl" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label for="gifUrl">Gif url</label>
            <input [(ngModel)]="movie.gifUrl" class="form-control" name="gifUrl" id="gifUrl" type="text">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" (click)="add(model)" [disabled]="!movieAddForm.form.valid" data-dismiss='modal'>Save movie</button>
        </div>
</form>

